﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ABCTemplate.Master" AutoEventWireup="true" CodeBehind="Aboutus.aspx.cs" Inherits="Assignment1.Aboutus" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .auto-style1 {
            margin-left: 40px;
        }
        .auto-style2 {
            font-family: "Segoe UI";
            font-weight: bold;
            font-size: x-large;
            margin-left: 40px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <p class="auto-style2">
        About Us</p>
    <p class="auto-style1">
        <span style="color: rgb(51, 51, 51); font-family: &quot;SegoeUI Regular&quot;, Sans, serif; font-size: 18px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgba(255, 255, 255, 0.85); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">We opened our doors with just 116 students in 1963 and offered courses in language, commerce and technology. Five decades on, we have never stopped preparing students for the challenges of their time.</span><br style="box-sizing: border-box; color: rgb(51, 51, 51); font-family: &quot;SegoeUI Regular&quot;, Sans, serif; font-size: 18px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgba(255, 255, 255, 0.85); text-decoration-style: initial; text-decoration-color: initial;" />
        <span style="box-sizing: border-box; color: rgb(51, 51, 51); font-family: &quot;SegoeUI Regular&quot;, Sans, serif; font-size: 18px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgba(255, 255, 255, 0.85); text-decoration-style: initial; text-decoration-color: initial;">
        <br style="box-sizing: border-box;" />
        We now offer<span>&nbsp;</span><a href="https://www.np.edu.sg/Pages/diplomas.aspx" style="box-sizing: border-box; color: rgb(102, 51, 153); text-decoration: none; background-color: transparent;">44 full-time diploma courses and three common entry programmes</a><span>&nbsp;</span>through<span>&nbsp;</span></span><b style="box-sizing: border-box; font-weight: bold; color: rgb(51, 51, 51); font-family: &quot;SegoeUI Regular&quot;, Sans, serif; font-size: 18px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgba(255, 255, 255, 0.85); text-decoration-style: initial; text-decoration-color: initial;"><a href="https://www.np.edu.sg/Pages/diplomas.aspx" style="box-sizing: border-box; color: rgb(102, 51, 153); text-decoration: none; background-color: transparent;">nine academic 
        schools</a></b><span style="box-sizing: border-box; color: rgb(51, 51, 51); font-family: &quot;SegoeUI Regular&quot;, Sans, serif; font-size: 18px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgba(255, 255, 255, 0.85); text-decoration-style: initial; text-decoration-color: initial;"><span>&nbsp;</span>and various part-time programmes for adult learners through our<span>&nbsp;</span></span><b style="box-sizing: border-box; font-weight: bold; color: rgb(51, 51, 51); font-family: &quot;SegoeUI Regular&quot;, Sans, serif; font-size: 18px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgba(255, 255, 255, 0.85); text-decoration-style: initial; text-decoration-color: initial;"><a href="http://www.np.edu.sg/lifelonglearning" style="box-sizing: border-box; color: rgb(102, 51, 153); text-decoration: none; background-color: transparent;" target="_blank">CET 
        Academy</a></b><span style="box-sizing: border-box; color: rgb(51, 51, 51); font-family: &quot;SegoeUI Regular&quot;, Sans, serif; font-size: 18px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgba(255, 255, 255, 0.85); text-decoration-style: initial; text-decoration-color: initial;">. We are 16,000 students strong and over 145,000 alumni around the world still call us home. Every step of the way, we have been unwavering in our commitment to give students an outstanding learning journey. Our mission is to develop students who are confident, self-directed, innovative and adaptable – equipped for success in the future economy.</span></p>
</asp:Content>
