﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ABCTemplate.Master" AutoEventWireup="true" CodeBehind="HomePage.aspx.cs" Inherits="Assignment1.HomePage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
