﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MentorTemplate.master.cs" Inherits="Assignment1.MentorTemplate" %>

<%@ Register Src="~/MentorMenu.ascx" TagPrefix="uc1" TagName="MentorMenu" %>


<!DOCTYPE html>

<html>
<head runat="server">
    <title>ABC Polytechnic</title>
    <!-- Specify character encoding for the web pages -->
    <meta charset="utf-8" />
    <!-- Set the initial view zooming scale for mobile device to 1 -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Reference to Bootstrap CSS, Javascript/JQuery files -->
        <link href="css/semantic.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/icon.min.css" />
    <script src="js/semantic.js"></script>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <script src="Scripts/jquery-3.0.0.min.js"></script> 
    <script src="Scripts/umd/popper.min.js"></script> 
    <script src="Scripts/bootstrap.min.js"></script> 
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
     <form id="form1" runat="server">
        <!-- 1st row-->
         <div class="container" style="margin:auto;">
        <div class="row">
            <div class="col-sm-12">
                <uc1:MentorMenu runat="server" ID="MentorMenu" />

            </div>
        </div>
        <!-- 2nd row -->
        <div class="row">
            <div class="col-sm-12">
               
                
               
            </div>
        </div>
        <!-- 3rd row -->
        <div class="row">
            <div class="col-sm-12">
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">

                </asp:ContentPlaceHolder>
            </div>
        </div>
        <div>
        </div>
             </div>
    </form>
</body>
</html>

